<div class="rows">

    <div class="col-md-6">
        <img src='/images/claire.jpg' />

    </div>

    <div class="col-md-6">
        <p class="container-fluid">
            Claire Underwood (born April 8, 1966) is the 48th First Lady of the United States and the Vice Presidential nominee for the Democratic Party. She previously served as the US Ambassador to the United Nations.
        </p>

    </div>

    <div class = navbar>
      <div>
        <button><a href="frank">FRANK</a></button>
        <button><a href="claire">CLAIRE</a></button>
        <button><a href="doug">DOUG</a></button>
        <button><a href="home">HOME</a></button>
    </div>
    </div>

</div>

</div>
