<div class="rows">

    <div class="col-md-6">
        <img src='/images/doug.jpg' />


    </div>

    <div class="col-md-6">
        <p class="container-fluid">
            Douglas "Doug" Stamper (born May 1, 1964) is President Frank Underwood's White House Chief of Staff and former director of strategy.
        </p>

    </div>
    <div class = navbar>
      <div>
        <button><a href="frank">FRANK</a></button>
        <button><a href="claire">CLAIRE</a></button>
        <button><a href="doug">DOUG</a></button>
        <button><a href="home">HOME</a></button>
    </div>
</div>
