<div class="rows">

    <div class="col-md-6">


        <img src='/images/frank.jpg' class= "partialimages">
    </div>

</div>

<div class="col-md-6">
    <p class="container">
        Francis Joseph “Frank” Underwoo d, born November 5, 1959, in Gaffney, South Carolina (D-SC), is the 46th and current President of the United States, assuming office after the resignation of President Garrett Walker, and formerly was the majority whip
        for the United States House of Representatives, serving South Carolina's 5th district. Along with Doug Stamper (Francis' chief of staff), his wife Claire Underwood, and publicist Seth Grayson he gradually began to get revenge for being snubbed
        as Secretary of State by President Walker and eventually manipulated his way to becoming Vice President and after a time, the 46th and current President of the United States.
    </p>


</div>



</div>
