* {

background-color: lightgrey;

}

.navbackground {

height: 900px;
width: 900px;

}

.container {
width: 600px;
padding: 0px
margin: 0px;
}

.navbar {

  align: center;
  margin: 0px;
  padding: 0px;
border: 0px;
background-color: white;

}

.bgimage {

background-image: url('../images/hocwhitehouse.png');
background-position: center center;
background-size: cover;
height: 650px;
}


.footerimage {

background-image: url('../images/fu16.png');
background-repeat: repeat-x;



}

p {

font-size: 24px;

}

button {

  padding: 15px;
  margin: auto;
}

.partialimages {
margin-top: 0px;
margin-left: 0px;
padding-left: 0px;
  width: 650px;
position: absolute;
}
